@using Microsoft.AspNetCore.Http;
@model Calculos
@{
    ViewData["Title"] = "CadastroCalcBD";
}
<h1>@ViewData["Title"]</h1>

<p class="text-danger">
   @ViewData["mensagem"] 

</p>

<form method="post" asp-action="Inserir">
    <p>
        <label asp-for="Id">Id do Usuário:</label>
        <input asp-for="Id" value=@Context.Session.GetInt32("IdUsuario")>
    </p>
    <p>
        <label asp-for="Investimento">Investimento:</label>
        <input asp-for="Investimento">
    </p>

    <p>
        <label asp-for="TaxaNominal">Taxa Nominal Anual (Ex.: 12,5% = 12,5):</label>
        <input asp-for="TaxaNominal">
    </p>

    <p>
        <label asp-for="Inicio">Início:</label>
        <input asp-for="Inicio" type="date">
    </p>

    <p>
        <label asp-for="Vencimento">Vencimento:</label>
        <input asp-for="Vencimento" type="date">
    </p>    
    <p>
        <input type="submit" value="Cadastrar">
    </p>


</form>