@{
    ViewData["Title"] = "Calculadoras Financeiras";
}
<!DOCTYPE html>
<html lang="PT-BR">

	<head>
		<title>EAD Calculadoras Financeiras</title>
		<meta charset="utf-8">
		<meta name="keywords" content="Senac, Senac RS, Projeto Integrador, Atividades, Educação Financeira"/>
        <meta name="description" content="Projeto Informática"/>
	</head>

	<body>
		<header>
		<div>
			<h1>Educação Financeira</h1>
			Como calcular correções de valores por índice financeiros como Poupança, Selic e CDI, avaliar imóveis comprados
            no passado e seu valor atual corrigido por  <br> índices de inflação (IPCA, IGPM e outros), ou como calcular os juros e 
            multa de uma dívida são disponibizados nesta página. <br> Também é possível simular investimentos em Crédito Privado
            (Debêntures, CRI e CRA).
			<hr>
		</div>
		</header>
		<main>
		  <h3>Principais sites de calculadoras financeiras</h3>
			<div class="box">
				<a href="https://www.bcb.gov.br/acessoinformacao/calculadoradocidadao"> 
				<img src="\Imagem\CalculadoraBC.png" width="250" height="300"/> 
				<br>
				Calculadora Financeira do Banco Central:
				<h5>
				</a>
				
					<ul>
						<li>Aplicação com depósitos regulares</li>
						<li>Financiamento com prestações fixas</li>
						<li>Valor futuro de capital</li>
						<li>Correção de valores (Poupança, IPCA, ...)</li>
					</ul>
				
				</h5>
			</div>
			
						
			<div class="box">
				<a href="https://calculadorarendafixa.com.br/#/navbar/calculadora"> 
					<img src="\Imagem\logo-b3-icone-512.png" width="250" height="300"/> 
					<br>
					
					Calculadora da B³ para Crédito Privado e Títulos:
					</a>
                    <h5>
					<ul>
						<li>DI / Tít.Públicos</li>
						<li>Debêntures</li>
						<li>CRI</li>
						<li>CRA</li>
					</ul>
				</h5>
			</div>
			
			<div class="box">
				<a href="https://calculoexato.com.br/parprima.aspx?codMenu=DividDiversas"> 
					<img src="\Imagem\CalculoExato.PNG" width="250" height="250"/> 
					<br> 
				Cálculo atualizado de dívidas  </a>
                <h5>
					<ul>
						<li>Valor Original e data de pagamento</li>
						<li>Data de atualização da dívida</li>
						<li>Índice de correção (se houver)</li>
						<li>Multa</li>
						<li>Juros</li>
					</ul>
				</h5>
			</div>
			<p>
                <a href="/Home/Index">
                Voltar
                </a>
            </p>
			
			<style>
            main {background-color: #c2ddbce8;}
			div.box {
				width: 30%; margin: 10px; 
				display: inline-table;
			}
            h1 {
            color: #e7d6d6;
            background-color: #221807;
            }
			</style>
					


		</main>

		<footer>
			<hr>
			<h5>Elaborado por Fabio Perasso</h5>

		</footer>
		


	</body>

</html>