@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Educação Financeira</h1>
    <h3>
    O objetivo deste site é fornecer conteúdo de Educação Financeira para leigos, estudantes e investidores 
    que pretendem aprofundar conhecimentos para um bom Planejamento Financeiro.<br>
    </h3>
	<hr>
    <h4>
    <div class="text-left">
    <p>
        <ol>
            <li>Principais sites para um bom Planejamento Financeiro</li>
                <ul>
                    <li>Calculadoras Financeiras</li>
                    <li>Preços e Taxas de Taxas dos Títulos do Tesouro</li>
                    <li>Renda Variável: sites com Análise Fundamentalista</li>
                    <li>Plataformas de Investimentos no país, com centenas de produtos financeiros </li>
                    <li>Fundo Garantidor de Crédito (seguro Poupança)</li>
                </ul> 
            <hr>       
            <li>Base de Conhecimento para um bom Planejamento Financeiro</li>
                <ul>
                    <li>Matemática Financeira </li>
                    <li>Contabilidade Básica</li>
                    <li>Fluxo de Caixa</li>
                    <li>Glossário Básico de Finanças e Contabilidade</li>
                </ul>
            <hr>
            <li>Calculadora exclusivas: CDB´s x LCI/LCA´s (em desenvolvimento com Banco de Dados SQL)</li>
                <ul>
                    <li>Ativos Financeiros Normais x Isentos</li>
                    <li>Previdência Privada: PGBL ou VGBL</li>
                </ul>
            <hr>
            <li>Sites de Notícias</li>
                <ul>
                    <li>Infomoney</li>
                    <li>Investing</li>
                </ul>
            <hr>

        </ol>
        <hr>
    </ol>
    </h4>
    </div>
    </p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
