@{
    ViewData["Title"] = "Outros sites";
}

<div class="text-left">
    <h2 class="display-4">Demais Sites de Educação Financeira</h2>
    <h3>
    Sites com conteúdos interessantes para a Educação Financeira.<br>
    </h3>
	<hr>
    <h4>
    <div class="text-left">
    <p>
        <ol>
            <li>Principais sites para um bom Planejamento Financeiro</li>
                <ul>
                    <a href="https://www.fgc.org.br/"> 
                    <li>Fundo Garantidor de Crédito (seguro Poupança)</li> </a>
                </ul> 
            <hr>       
            <li>Base de Conhecimento para um bom Planejamento Financeiro</li>
                <ul>
                    <a href="https://www.topinvest.com.br/matematica-financeira-formulas/?gclid=CjwKCAiAl-6PBhBCEiwAc2GOVLplUlLPGMpIM8DN4L4NViq0a1NCh4uTgwkCSugAS4LHxzn7hoscLhoCUUgQAvD_BwE">
                    <li>Matemática Financeira </li></a>
                    <a href="https://www.socontabilidade.com.br/conteudo/indice.php">
                    <li>Contabilidade Básica</li></a>
                    <a href="https://www.portaldefinancas.com/dicionario.htm"> 
                    <li>Glossário Básico de Finanças e Contabilidade</li></a>
                </ul>
            <hr>
            <li>Calculadora exclusivas: CDB´s x LCI/LCA´s </li>
                <ul>
                    <a href="\home\CadastroTaxaNom">
                    <li>Ativos Financeiros Normais x Isentos</li></a>
                    <li>Previdência Privada: PGBL ou VGBL (em desenvolvimento)</li>
                    <h5>
					<ul>
						<li>PGBL: Imposto Progressivo ou Regressivo</li>
						<li>VGBL</li>
					</ul>
				</h5>
                </ul>
            <hr>
            <li>Sites de Notícias</li>
                <ul>
                    <a href="https://www.infomoney.com.br/"> 
                    <li>Infomoney</li> </a>
                    <h5>
                        <ul>
                            <li>Mercados</li>
                            <li>Ibovespa</li>
                        </ul>
                    </h5>
                    <a href="https://br.investing.com/"> 
                    <li>Investing</li> </a>
                    <h5>
					<ul>
						<li>Índices Mundiais</li>
						<li>Commodities</li>
                        <li>Cambio</li>
                        <li>Criptomoedas</li>
                        <li>Educação</li>
					</ul>
				    </h5>
                </ul>
            <hr>
            <p>
                <a href="/Home/Index"> 
                Voltar
                </a>
            </p>

        </ol>
        <hr>
    </ol>
    </h4>
    </div>
    </p>
    
</div>
		<footer>
			<hr>
			<h5>Elaborado por Fabio Perasso</h5>

		</footer>