<!DOCTYPE html>
<html lang="PT-BR">

	<head>
		<title>EAD PlatafInvest</title>
		<meta charset="utf-8">
		<meta name="keywords" content="Senac, Senac RS, Projeto Integrador, Atividades, Educação Financeira"/>
        <meta name="description" content="Projeto Informática"/>
	</head>

	<body>
		<header>
		<div>
			<h1>Educação Financeira</h1>
			Esta lâmina mostra vários sites úteis para quem quer investir. Hoje a XP fornece mais de 400 produtos financeiros 
            nas mais diversas modalidades, desde: <br> Renda Fixa (CDB / LCI / LCA) com proteção do Fundo Garantidor de Crédito e 
            Crédito Privado (Debêntures / CRA / CRI); <br> Renda Variável com Ações, ETS´s e Fundos Imobiliários; <br> Fundos de Investimentos 
            (Renda fixa, Multimercados, Ações) e <br> Previdência Privada ( PGBL / VGBL ).
			<hr>
			<!--  		
			<form action="cadastrar" method="post">
	            <table>
	                <tr>
	                    <td>
	                        <input type="text" name="produto" id="produto"/>
	                    </td>
	                    <td width="20"></td>
	                    <td><input type="submit" value="Buscar"></td>   
	                </tr>
	            </table>             
	        </form>
			<hr>
			--> 
        </div>
		</header>
		<main>
		  <h3>Principais plataformas de investimento e informações bancárias</h3>
			<div class="box">
				<a href="https://www.xpi.com.br/"> 
					<img src="\Imagem\XP_LogoOficial2.jpg" width="250" height="250"/> 
				<br>
				
				Maior plataforma de investimentos no país. 
				</a>
				<h5>
					<ul>
						<li>Renda Fixa Emissão Bancária: CDB/LCI/LCA/LC/LH</li>
						<li>Renda Fixa Crédito Privado: Debêntures/CRA/CRI</li>
						<li>Fundos de Investimentos</li>
						<li>Renda Variável: Ações/ETF´s/Fundos Imobiliários</li>
						<li>Previdência Privada: PGBL/VGBL</li>
					</ul>
				</h5>
				
			</div>
			
			
			<div class="box">
				<a href="https://bancodata.com.br/"> 
					<img src="\Imagem\BancoData.jpg" width="250" height="300"/>
					<br>
				Principais informações sobre bancos:</a>
                <h5>
					<ul>
						<li>Índices de Basiléia e Imobilização</li>
						<li>Lucro Líquido/Patrimônio Líquido/ Capitalizações</li>
						<li>Número Agências/Clientes (PFxPJ)</li>
						<li>Carteira de Crédito x Nível de Risco e outros</li>
					</ul>
				</h5>
			</div>
            <p>
                <a href="/Home/Index"> 
                Voltar
                </a>
            </p>
			
			<style>
            main {background-color: #9dd3d3b6;}
			div.box {
				width: 35%; margin: 10px; 
				display: inline-table;
			}
            h1 {
            color: #e7d6d6;
            background-color: #221807;
            }
			</style>
					


		</main>

		<footer>
			<hr>
			<h5>Elaborado por Fabio Perasso</h5>

		</footer>
		


	</body>

</html>