<!DOCTYPE html>
<html lang="PT-BR">

	<head>
		<title>EAD Renda Variavel</title>
		<meta charset="utf-8">
		<meta name="keywords" content="Senac, Senac RS, Projeto Integrador, Atividades, Educação Financeira"/>
        <meta name="description" content="Projeto Informática"/>
	</head>

	<body>
       
		<header>
		<div>
			<h1>Educação Financeira</h1>
			Esta lâmina mostra vários sites úteis para Análise Fundamentalista de Renda Variável (Ações e Fundos Imobiliários). <br>
            São fornecidos vários indicadores do Balanço Patrimonial, Demonstrativo de Resultados, Indicadores Fundamentalistas <br>
            (Rentabilidade, Endividamento, Distribuição de Dividentos), além dos Históricos de Cotações.
			<hr>
        </div>
		</header>
		<main>
		  <h3>Principais sites com dados e Indicadores Fundamentalistas</h3>
			
			<div class="box">
				<a href="https://www.statusinvest.com.br"> 
					<img src="\Imagem\StatusInvest.jpg" width="250" height="300"/> 
					<br>
				Indicadores financeiros/lâminas e gráficos de rentabilidade de:
				</a>
				<h5>
					<ul>
						<li>Ações</li>
						<li>Fundos Imobiliários</li>
						<li>Fundos de Renda Fixa</li>
						<li>Fundos Multimercados</li>
						<li>Fundos de Renda Variável</li>
					</ul>
				</h5>
			</div>
			<div class="box">
				<a href="https://www.fundamentus.com.br/"> 
					<img src="\Imagem\Fundamentus.png" width="250" height="250"/> 
				<br>
				
				Análise Fundamentalista com vários dados históricos de Ações e Fundos Imobiliários
				</a>
				<h5>
					<ul>
						<li>Balanço Patrimonial</li>
						<li>Demonstrativo de Resultados</li>
						<li>Fluxo de Caixa</li>
						<li>Indicadores Fundamentalistas</li>
						<li>Histórico de Cotações</li>
					</ul>
				</h5>
				
			</div>
			<p>
                <a href="/Home/Index"> 
                Voltar
                </a>
            </p>
			
			
			<style>
            main {background-color: #d8b0a9b6;}
            h1 {
            color: #e7d6d6;
            background-color: #221807;
            }
			div.box {
				width: 40%; margin: 10px; 
				display: inline-table;
                
			}
			</style>
					


		</main>

		<footer>
			<hr>
			<h5>Elaborado por Fabio Perasso</h5>

		</footer>
		


	</body>

</html>